.wrapForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-bottom: 70px;
}

.img {
  object-fit: cover;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img:hover {
  transform: scale(1.02);
}
